body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 200px;
    background-color: #1F2937;
}

.header .header-right {
    display: flex;
}

.header .header-right ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.header .header-right ul a {
    text-decoration-line: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header .header-left p {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

/* UPPER CONTENT */

.upper {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 100px 200px;
}

.upper div {
    flex: auto;
    float: left;
    width: 50%;
}

.upper .upper-text .hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0px;
}

.upper .upper-image {
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.btn {
    border-radius: 10px;
    padding: 10px 30px;
    background-color: #3882F6;
    color: white;
    width: 150px;
    height: 40px;
    border: 2px solid white;
}

.upper .upper-text {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

/* MIDDLE CONTENT */ 

.middle {
    display: flex;
    flex-direction: column;
    padding: 50px 200px 100px 200px;
}

.middle .middle-text p{
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.cards {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex: 0;
}

.box {
    border-radius: 10px;
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
}

.cards .card p {
    display: flex;
    text-align: center;
    color: #1F2937;
}

/* LOWER CONTENT */

.lower {
    display: flex;
    flex-direction: column;
    padding: 100px 350px;
    background-color: #E5E7EB;
}

.lower .quote p {
    font-weight: 200;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.lower .author {
    display: flex;
    justify-content: right;
}

.lower .author p {
    padding-right: 30px;
    font-weight: bolder;
    color: black;
    font-size: 15px;
}

/* SIGN-UP */ 

.signup {
    padding: 50px 200px;
}

.signup-box {
    display: flex;
    background-color: #3882F6;
    padding: 30px;
}

.signup-box .signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box div {
    flex: auto;
}

#bolder {
    font-weight: bolder;
}
